{% extends 'tasks/task.html' %}
{% block content %}
<div class="todo-card">
  <div class="todo-header">
    <h1>⋆. 𐙚 ˚ My To Do List ⋆. 𐙚 ˚</h1>
    <a href="/" class="btn">Dashboard</a>
    <a href="{% url 'create-task' %}" class="btn">➕ Add Task</a>
  </div>
  <div class="task-scroll">
    <table>
      <tr>
        <th>Task</th>
        <th>Action</th>
      </tr>
      {% for task in object_list %}
      <tr>
        <td>
        {% if task.complete %}
              <s>{{ task.title }}</s>
          {% else %}
              {{task.title}}
          {% endif %}
        </td>
        <td>
          <a href="{% url 'task' task.id %}" class="btn-small">View</a>
          <a href="{% url 'update-task' task.id %}" class="btn-small">Edit</a>
          <a href="{% url 'delete-task' task.id %}" class="btn-small">Delete</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="2">No tasks yet</td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}